@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Bold.ttf");
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: auto;

  font-weight:bold;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Regular.ttf");
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: auto;

  font-weight:normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-SemiBoldItalic.ttf");
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: auto;

  font-weight:400;
  font-style:italic;
}
*:focus:focus-visible{
  outline:solid 4px  #000 !important;
  outline-offset:3px;
  }

.setting-button{
  top:10px;
  right:10px;
}
.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

html,body{
  font-size:16px;
}

body {
  margin: 0;
  background-color: #f4f4f4;
  font-family: "Montserrat";
}

button{
  border: none;
}
.activity-container{
  padding:20px;
  min-width:320px;
}
.activity-header{
  padding:20px 50px;
  position:relative;
}

.activity-title{
  color: var(--color1);
  font-size: var(--desktop-title-fontsize);
  font-weight:bold;
  width:var(--desktop-title-width);
}
.activity-instruction{
  font-weight:normal;
  color: var(--color2);
  font-size: var(--desktop-instruction-fontsize);
  margin-top: 20px;
  width: 100%;
}

.activity-content{
  padding:20px 50px;
}

.left-cards {
  cursor: pointer;
  background-color: rgba(255,255,255,1);
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	width: 306px;
	height: 112px;
  margin-bottom: 2%;
  border-radius: 10px;
}

.right-cards {
  cursor: pointer;
  background-color: rgba(255,255,255,1);
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	width: 306px;
	height: 112px;
  margin-bottom: 2%;
  border-radius: 10px;
}

.mobile-card{
  display: none;
}

.circle-right-arrow{
  display: none;
}

.circle-left-arrow{
  display: none;
}

.button-text{
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
}

.clicked-box{
  background-color: rgba(0,25,54,1) !important;
  color: white;
}

.img-responsive{
  width: auto;
  height: 100%;
}

.load-image{
  height: 500px;/* ask for images  */
}

.artwork-references{
	font-size: 22px;
	color: rgba(74,74,74,1);
	text-decoration: underline;
}

.data-button{
  font-size: 22px;
  color: rgba(74,74,74,1);
}

.artwork-references-mobile{
  display: none;
}

@media (max-width: 768px) {
  html,body{
      font-size:12px;
  }
  .activity-container{
      padding:0px;
  }

  .hide{
    display: none;
  }

  .mobile-card{
    display: block;
    cursor: pointer;
    background-color: rgba(0,25,54,1) !important;
    color: white;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    width: 306px;
    height: 112px;
    margin-bottom: 2%;
    border-radius: 10px;
  }

  .arrow {
    border: solid white;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 8px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  .data-button{
    font-size: var(--mobile-instruction-fontsize);
    color: rgba(74,74,74,1);
  }

  .circle-right-arrow{
    display: block;
    cursor: pointer;
    position: absolute;
    top: 30%;
    width: 50px;
    height: 50px;
    background-color: rgba(0,25,54,1) !important;
    border-radius: 100%;
    left: 90%;
  }

  .circle-left-arrow{
    display: none;
    cursor: pointer;
    position: absolute;
    top: 30%;
    width: 50px;
    height: 50px;
    background-color: rgba(0,25,54,1) !important;
    border-radius: 100%;
    right: 90%;
  }

  .artwork-references{
    display: none;    
  }

  .artwork-references-mobile{
    display: block;
    font-size: 15px;
	  color: rgba(74,74,74,1);
	  text-decoration: underline;
  }

  .left-cards{
    display: none;
  }

  .right-cards{
    display: none;
  }

  .activity-header{
      padding:40px 30px 20px 30px;
  }
  .activity-title{
      width:100%;
      font-size:var(--mobile-title-fontsize);
  }
  .activity-instruction{
      width:100%;
      font-size:var(--mobile-instruction-fontsize);
  }
  .activity-content{
      padding: 20px 30px 0px 30px;
  }

  .feedback{
    margin-bottom:25px;
    font-size:var(--mobile-feedback-fontsize);
  }

  .img-responsive{
    width: 100%;
    height: 100%;
  }
  
  .load-image{
    width: auto;
    margin: 2%;
    height: 500px;/* ask for images  */
  }

  .btn.btn-primary{
    font-size: var(--mobile-button-fontsize);
    min-width:var(--mobile-button-width);
    min-height:var(--mobile-button-height);
  }
}
